#Function

![identity-function-graph.png]()

```python
def function_name(_Input_):
    do_something with _Input_ to produce _Output_
    return _Output_
```

```backtick จะทำให้มอง text เป็นโค้ด

##Function จะแบ่งออกเป็น 4 ส่วน 

    1. บอก python ว่าเราจะเขียนฟังค์ชัน ชื่ออะไร def function_name() : (ขาดไม่ได้) ถ้าไม่ใส่ : ฟังก์ชันจะใช้งานไม่ได้
    2. กำหนดตัวแปรที่จะเป็น _input_ (ขาดได้)
    3. ส่วนประมวลผล do_something with _input_ to get _output_ (ขาดไม่ได้)
    4. ส่วน output return _output_ (ขาดไม่ได้)

In [ ]:
def print_name(name,surname,ID):
    st = f'ชื่อ {name} นามสกุล {surname} ID {ID}'
    return st
print(_outside_function_)

In [ ]:
print_name('แพรวา','ณิชาภัทร','820510562-4')

'ชื่อ แพรวา นามสกุล ณิชาภัทร ID 820510562-4'

###function ไม่จำเป็นต้องมี _output_

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} ID {ID}'
    print(st)

In [ ]:
print_name2('แพรวา','ณิชาภัทร','820510562-4') #เมื่อสมาชิกในลิสไม่เรียงตามแพทเทิลของfunction ที่กำหนดไว้ ทำให้ผลออกมาไม่ถูกต้อง

ชื่อ 820510562-4 นามสกุล แพรวา ID ณิชาภัทร

In [ ]:
op2 = print_name2('แพรวา','ณิชาภัทร','820510562-4')

ชื่อ 820510562-4 นามสกุล แพรวา ID ณิชาภัทร

In [ ]:
print(op2)

None

###function ไม่จำเป็นต้องมี _input_ ก็ได้

In [ ]:
def Pi() : 
   return 3.14159265359

In [ ]:
#ตัวอย่าง ต้องการคำนวณพื้นที่วงกลมที่มีขนาดเส้นผ่าศูนย์กลางเท่ากับ 3 
Pi()*(1.5**2) #ยกกำลังใน python คือใช้ **

7.0685834705775

In [ ]:
def print_my_name() : 
    print('ratta lee ID613021020-4')

In [ ]:
print_my_name()

ratta lee ID613021020-4

input ของ function ใน 1python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า defualt) 

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F') :
    st1 = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st1)
    st2 = f'เกรดวิชา Multivariate >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('แพรวา','ณิชาภัทร','820510562-4')

ชื่อ แพรวา นามสกุล ณิชาภัทร รหัส 820510562-4
เกรดวิชา Multivariate >>> F

In [ ]:
print_2lines_default('แพรวา','ณิชาภัทร','820510562-4','A')

ชื่อ แพรวา นามสกุล ณิชาภัทร รหัส 820510562-4
เกรดวิชา Multivariate >>> A

เราสามารถเรียกฟังก์ชั่นโดยใช้ชื่อตัวแปรของฟังก์ชั่นช่วยได้

In [ ]:
print_name2(name='กิตติมา', surname='อุปสุข', ID='623021040-9')

ชื่อ กิตติมา นามสกุล อุปสุข ID 623021040-9

#HW3 ให้เขียน function คำนวณจำนวณวินาที เวลาต่อไปนี้ 

'14-15-31'

'13-00-01'

'05-49-44'

'00-00-16'

และ print ให้สวยงาม

In [ ]:
#ทดสอบ ดูค่า
p_1 = '14-15-31'
p = p_1.split('-')
p
t_1 = (int(p[0])*3600) + (int(p[1])*60) + (int(p[2]))
print(f'เวลา {p_1} เมื่อนำมาคำนวณให้เป็นวินาทีมีค่าเท่ากับ {t_1} วินาที')

เวลา 14-15-31 เมื่อนำมาคำนวณให้เป็นวินาทีมีค่าเท่ากับ 51331 วินาที

###เริ่มทำโดยใช้ function

In [ ]:
def Sum_time(t) :#เตือนความจำ ใช้ def ต้องมี : ด้วยโค้ดถึงจะรันได้ 
    list_t = t.split('-') #ทำการแยกสมาชิกโดยใช้ - เป็นการแบ่ง 
    time = (int(list_t[0])*3600) + (int(list_t[1])*60) + (int(list_t[2]))
    #เปลี่ยนค่า t ที่เป็น string ให้เป็น int เพื่อที่จะสามารถคำนวณได้
    #โดยค่าที่จะนับเป็นตัวที่0,1,2 > ชม,นาที,วินาที ตามลำดับ  
    Sum_time = f'เวลา {t} เมื่อนำมาคำนวณให้เป็นวินาทีมีค่าเท่ากับ {time} วินาที' 
    print(Sum_time)  #ต้อง print ออกมาด้วยเพื่อเวลาเรียกใช้ฟังค์ชันจะมีค่าขึ้น

In [ ]:
#ข้อที่ 1 >> '14-15-31'
Sum_time('14-15-31')
#ข้อที่ 2 >> '13-00-01'
Sum_time('13-00-01')
#ข้อที่ 3 >> '05-49-44'
Sum_time('05-49-44')
#ข้อที่ 4 >> '00-00-16'
Sum_time('00-00-16')

เวลา 14-15-31 เมื่อนำมาคำนวณให้เป็นวินาทีมีค่าเท่ากับ 51331 วินาที
เวลา 13-00-01 เมื่อนำมาคำนวณให้เป็นวินาทีมีค่าเท่ากับ 46801 วินาที
เวลา 05-49-44 เมื่อนำมาคำนวณให้เป็นวินาทีมีค่าเท่ากับ 20984 วินาที
เวลา 00-00-16 เมื่อนำมาคำนวณให้เป็นวินาทีมีค่าเท่ากับ 16 วินาที

#Numpy (Number of python)

สร้าง  array (numpy array)

In [2]:
import numpy as np

In [3]:
mat_ex1 = np.array([[5.2,3.0,4.5],[9.1,0.1,0.3]])
mat_ex1

array([[5.2, 3. , 4.5],
       [9.1, 0.1, 0.3]])

ชี้ค่าใน numpy array

In [5]:
mat_ex1[1,1] #[แถว,หลัก]

0.1

ถ้าไม่มี numpy array

In [6]:
list_ex1 = [[5.2,3.0,4.5],[9.1,0.1,0.3]]
list_ex1

[[5.2, 3.0, 4.5], [9.1, 0.1, 0.3]]

In [8]:
list_ex1[1][1]

0.1

In [9]:
print(list_ex1)
a = list_ex1[1]
print(a)
print(a[1])

[[5.2, 3.0, 4.5], [9.1, 0.1, 0.3]]
[9.1, 0.1, 0.3]
0.1

##Matrix Operations

data 2 แบบ -> matrix (2D array), scalar (ตัวเลขค่าคงที่)

In [10]:
mat_ex1 = np.array([[5.2,3.0,4.5],[9.1,0.1,0.3]])
print(mat_ex1)
mat_ex2 = np.array([[2,3.7,5.9],[91,1.5,7.3]])
print(mat_ex2)

[[5.2 3.  4.5]
 [9.1 0.1 0.3]]
[[ 2.   3.7  5.9]
 [91.   1.5  7.3]]

บวกกับลบ matrix เอาตัวเลขตำแหน่งเดียวกันมาบวกหรือลบกัน
โดยจะต้องมีมิติที่เท่ากันในการ บวก ลบ

In [13]:
mat_ex3 = mat_ex1 + mat_ex2 #นำตัวเลขที่อยู่ในตำแหน่งเดียวกันมา บวก ลบ กันได้
print(mat_ex3)
mat_ex4 = mat_ex1 - mat_ex2
print(mat_ex4)

[[  7.2   6.7  10.4]
 [100.1   1.6   7.6]]
[[  3.2  -0.7  -1.4]
 [-81.9  -1.4  -7. ]]

การตรวจสอบขนาดของ matrix

In [14]:
mat_ex3.shape

(2, 3)

In [15]:
mat_ex3.shape[0]

2

การคูณ matrix

In [16]:
#คูณะรรมดาไม่ได้ 
mat_ex1 * mat_ex2

array([[1.040e+01, 1.110e+01, 2.655e+01],
       [8.281e+02, 1.500e-01, 2.190e+00]])

เงื่อนไขการคูณ matrix ตัวข้างหน้าต้องเท่ากับแถวของตัวข้างหลัง

dot product (AAA,x) (x,ZZZ) = (AAA,ZZZ)

In [17]:
#transpose กลับแถวเป็นหลัก กลับหลักเป็นแถว
np.dot(mat_ex1,mat_ex2.T) #(2,3).(3,2)

array([[ 48.05, 510.55],
       [ 20.34, 830.44]])

In [18]:
np.dot(mat_ex1.T,mat_ex2)

array([[838.5 ,  32.89,  97.11],
       [ 15.1 ,  11.25,  18.43],
       [ 36.3 ,  17.1 ,  28.74]])

#HW4 อธิบายการหา Determinant และ In